.createfilewrapper{
    display: flex;
    flex-direction: column;
}

.searchbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top : 5px
}

.searchbox > input{
    border-radius: 8px;
    width : 200px;
    height : 30px;
    border : 1px solid white;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.searchbox > span{
    border-radius: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    align-items: center;
}

.filesconsole{
    width : 100%;
    min-height : calc(100vh - 110px);
    background-color: rgb(41, 41, 41);
    margin-top: 8px;
    border-radius: 8px;
}

.filesconsole > div{
    overflow: auto;
    overflow-x : hidden;
    height : 450px;
}

.filesconsole > h4{
    margin-top: 0;
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px solid white;
}

.createitem{
    background-color: green;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: -50px;
    cursor: pointer;
}

.createitem:hover{
    background-color: rgb(149, 189, 149);
}

.createmenu{
    background-color: rgb(14, 13, 13);
    width : 95%;
    height : 250px;
    position: absolute;
    bottom: 0;
    border-radius : 10px 0px 0px 10px;
    transition: 2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.createmenu{
    transform:scale(1) 
}

.createmenu > button{
    border: 1px solid pink;
    height : 30px;
    font-size: 12px;
}

.folder{
    display: flex;
    flex-direction: row;
    align-items: center;
    width : 100%;
    justify-content: space-around;
}



.selectboxfile{
    width: 140px;
    height: 30px important!;
    font-size: 10px;
}

.foldertype{
    display: flex;
    flex-direction: column;
    height: min-content;
    /* position: relative; */
}

.folderbody{
    display: flex;
    flex-direction: row;
}

.folderbody > textarea{
    height: 20px;
    resize: none;
    padding-left : 10px;
    padding-top: 5px;
    cursor: pointer;
    width : 190px;
}


.folderfiles{
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    width : 200px;
    margin-left: 50px;
    display: none;
}

.langaugewrapper{
    display: flex;
    flex-direction: column;
}


.langcard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(66, 66, 66);
    border-radius: 15px;
    cursor: pointer;
    height : 30px
    
}

.langcard > p{
    font-size: 12px;
    font-weight: bold;
    width: 150px; /* Set your desired width */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide the overflowing content */
    text-overflow: ellipsis; 
}

.langcard > img{
    width: 25px;
    height : 25px
}


.filecont{
    display: flex;
    margin : 5px;
    flex-direction: column;
}