.optionboxwrapper{
    width : 100px;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
}

.btncont{
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-around;
    text-align: center;
}

.btn{
    margin : 5px;
}