.sfwrapper{
    display: flex;
    position: absolute;
    z-index: 1; /* Set a higher value for the chatboxwrapper to appear above other components */
    height: calc(100vh - 70px);
    width: 280px;
    right: 0;
    background-color: rgb(13, 63, 93);
    transition: transform 2s ease-in-out; 
}

.sfheading{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.sfheading > h4{
    margin-top: -2px;
}

.sfheading > p{
    margin-top: -14px;
    font-size: 12px;
}

.sfnavchat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.sfnavchat > button{
    display: flex;
    width : 60px;
    height : 30px;
    font-size: 12px;
    justify-content: center;
    text-align: center;
}

.boxarea{
    margin-top: -20px;
    width : 280px;
    min-height: calc(100vh - 60px);
    background-color: rgb(53, 53, 53);
    margin-bottom: 5px;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    box-sizing: content-box;

}

.accountimg{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.accountimg:hover{
    border: 1px solid pink;
}

.logout{
    display: flex;
    position: absolute;
    width: 45%;
    background-color: rgb(47, 50, 49);
    height: 60px;
    justify-content: center;
    margin-top: -10px;
}

.logout > button{
    margin-top: 10px;
    height : 40px
}